In [3]:
#imports
import requests
import pandas as pd
import time

### Data Collection Demo

In [4]:
#setting up url and parameters:
url = 'https://api.pushshift.io/reddit/search/submission'

params = {
    'subreddit': 'GRE',
    'size': 100
    #'before':1635254621
}

res = requests.get(url, params)

In [5]:
#requesting response code
res.status_code

200

In [6]:
#converting request to json format
data = res.json()
type(data)

dict

In [7]:
posts = data['data']

In [8]:
#confirming length of posts
len(posts)

100

In [9]:
#transforming to dataframe object
df = pd.DataFrame(posts)

In [10]:
df.head()

,all_awardings,allow_live_comments,author,author_flair_css_class,author_flair_richtext,author_flair_text,author_flair_type,author_fullname,author_is_blocked,author_patreon_flair,...,thumbnail_height,thumbnail_width,gallery_data,is_gallery,url_overridden_by_dest,removed_by_category,author_flair_background_color,author_flair_template_id,author_flair_text_color,edited
0,[],False,DudeLove29,None,[],None,text,t2_d8v7lzn9,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,[],False,Mental_Pomelo1273,None,[],None,text,t2_f4viba5q,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,[],False,Competitive-Sun-6084,None,[],None,text,t2_c7cq07nz,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,[],False,ShadowTzigane,None,[],None,text,t2_chw9m153,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,[],False,Professional-Ad-8700,None,[],None,text,t2_7dpo2b4c,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
df[['subreddit','selftext','title', 'created_utc']].head()

,subreddit,selftext,title,created_utc
0,GRE,"Hey guys, I'll be taking my exam on the 7th of...",GRE in exactly a month. Idk what to do.,1636152899
1,GRE,,"Ok I just took the online GRE, and i canâ€™t rem...",1636149295
2,GRE,"Hi,\n\nI took my GRE test on October 25. My sc...",ETS GRE Diagnostic Report Deciphering and Prep...,1636147747
3,GRE,I've just done the ets free test. There's only...,Ets free test,1636145868
4,GRE,Took the test the day before and got a 156 in ...,Need tips for a jump from 156 Q to 160 Q,1636145473

In [12]:
df[['subreddit','selftext','title', 'created_utc']].tail()

,subreddit,selftext,title,created_utc
95,GRE,"Hey guys , I took the exam of PPP2 ,PP1 and PP...",Took the PPP2 exam yesterday,1635825636
96,GRE,"Hey, I had recently took my gre and scored 164...",Is AWA important for my admission?,1635825332
97,GRE,[deleted],What do think about my score?,1635824525
98,GRE,"Hello, does any one have a Manhattan and Princ...",Manhatt and Princeton Mock Test,1635824412
99,GRE,,Is mask required throughout the on-site test i...,1635822291

### Scaling up Data Collection Using While Loop

In [53]:
#function to scrape data from reddit:
def get_reddit_data (subreddit, length):
    posts_list = []
    date = None
    while len(posts_list)<length:
        temp_url = 'https://api.pushshift.io/reddit/search/submission'
        temp_params = {
            "subreddit": subreddit,
            "size":100,
            "before": date
        }
        temp_res = requests.get(temp_url,temp_params)
        data = temp_res.json()
        posts = data['data']
        
        try:
            date = posts[99]['created_utc']
            posts_list.append(posts)
            time.sleep(4)
            
        except:
            break
    new_posts_list =[]
    for i in posts_list:
        new_posts_list += i
    subreddit_df = pd.DataFrame(new_posts_list)
    subreddit_df =subreddit_df[['subreddit', 'selftext','title']]
    return subreddit_df
#credit: Chris Johnson https://medium.datadriveninvestor.com/web-scraping-with-python-part-1-a-high-level-explanation-of-what-ive-learned-5401d46fbec2

In [39]:
#generating r/GRE data
gre_df= get_reddit_data ('GRE', 100)

In [58]:
#checking first 5 rows
gre_df.head()

,subreddit,selftext,title
0,GRE,About mid-August I took a manhattan prep GRE t...,Demoralized from Silly Quant Mistakes
1,GRE,Iâ€™ve known so many people cheating in their Gr...,Gre cheating
2,GRE,,Is it true that the GRE now make it alot harde...
3,GRE,On hollidays those paid tests from greprepclub...,How are the 10 quant tests from greprepclub.co...
4,GRE,"Hi,\n\nI have my Gre exam on coming Nov 29th. ...",Help!! Verbal is too difficult for me

In [59]:
#checking dimensions
gre_df.shape

(10000, 3)

In [44]:
#generating r/GMAT data
gmat_df= get_reddit_data ('GMAT', 100)

In [60]:
#checking first 5 rows
gmat_df.head()

,subreddit,selftext,title
0,GMAT,I may have screwed up big-time. I took the GMA...,No way to look at my unofficial GMAT Online sc...
1,GMAT,I completed the 5 day free trial and really li...,TTP referral/discount code
2,GMAT,"If *q*, *r*, and *s* are consecutive even inte...",help with question
3,GMAT,"To be clear, this post is for those who have a...","Good at math, but not so much on the Quant? Tr..."
4,GMAT,"Twelve days ago, I bought the TTP course. Afte...",Can the TTP test be covered within two months?

In [61]:
#checking dimensions 
gmat_df.shape

(8500, 3)

In [62]:
#commented out code to avoid overwriting saved dataframe with re-generated data
#saving data to csv file
#gmat_df.to_csv('data/rgmat.csv',index=False)

In [63]:
#commented out code to avoid overwriting saved dataframe with re-generated data
#saving data to csv file
#gre_df.to_csv('data/rgre.csv',index=False)